* {
    background-color: #0a0a0a;
    border-color:     #444444;
    text-color:       #cccccc;
    font:             "monospace 12";
}

window {
    border:  2px;
    padding: 10px;
}

element selected {
    background-color: #1a1a1a;
    text-color:       #ffffff;
}

inputbar {
    text-color: #aaaaaa;
}

prompt {
    text-color: #666666;
}
